
#wrapper>.bg {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/white-logo.jpg");
    background-size: cover;
    background-position: 55% 50%;
}
#main {
    padding-top: 2rem
}
#resume-title {
    padding-top: 2rem;
    font-size: 3.1rem;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 4px solid black;
    text-align: center;
    text-transform: capitalize;
}

.sec1 ul li {
    margin-top: -.9rem
}

.sec1 p {
    font-family: 'Oranienbaum', serif;
    font-size: 1.35rem;
    word-spacing: 1px
}
.section-container {
    padding: 2rem 5% 0;
    margin-top: 2rem
}

.file {
    margin-top: 2%;
    margin-bottom: 5%;
}

#form {
    width: 50%;
    padding: 2% 5% 5%;
    background-color: rgb(241, 243, 214);
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: 25%
}

#form h5 {
    text-align: center;
    font-family: 'Courier-Prime', monospace;
    margin-top: 2rem;
    margin-bottom: 2rem
}

#form .field {
    height: 60px;
}

.form-row {
    margin-bottom: 0 !important;
    padding-right: 2%,

}

.form-check {
    display: flex;
}

#checkbox-title {
    margin: 2rem 0 .5rem;
    font-size: 16px;
}
#upload-title {
    margin: 1.5rem 0 .5rem;
    font-size: 16px;
}

input[type="checkbox"]+span:not(.lever) {
    padding-left: 25px
}

.check-cont{
    margin-top: 15px;
    margin-right: 10px
}

.check-cont span {
    line-height: 98% !important
}



.btn {
    height: 2rem !important;
    line-height: 2rem !important;
    margin-bottom: 0
}


#footer section h1 {
    font-size: 2rem !important;
    text-align: center
}
#footer section p {
    font-size: 1rem !important;
    margin-bottom: .5rem !important;
    text-align: center
}
#footer section p span {
    font-weight: bold !important;
}

.icons {
 text-align: center;
}


@media (max-width: 1024px) {

    #wrapper>.bg {
        background-position: 90% 0
    }
}


@media (max-width: 425px) {

    .sec1 {
        margin-top: 5%;
        margin-left: 3%;
    }

    .sec2 {
        width: 92%;
        margin-left: 1.5%;
        padding: 1.5%
    }

    #wrapper>.bg {
        background-position: 55% 0
    }
    #form {
        width: 90%;
        margin-left: 5%;
    }
}


@media (max-width: 320px) {
    #form {
        width: 100%;
        margin-left: 0;
        padding-bottom: 2rem
    }
}