<!DOCTYPE HTML>

<html>

<head>
    <title>109 Burger Joint</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/about.css" />
    <link rel='icon' href='images/logo-01.png' type="image/png" sizes="16x16" />
    <link
        href="https://fonts.googleapis.com/css?family=Teko|BenchNine|Staatliches|Kaushan+Script|Barlow|Oranienbaum|Barlow+Condensed&display=swap"
        rel="stylesheet">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <style>
        #wrapper {
            background-image: url('images/background2.png');
        }

        .content {
            padding: 10%;
            font-family: 'EB Garamond', serif
        }

        h2 {
            margin-top: 5%;
            font-family: 'Yeseva One', cursive;
        }
    </style>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="#" class="logo">Accessibility</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="/menu.html">Menu</a></li>
                <li><a href="https://sheltered-ridge-76505.herokuapp.com/">Beers</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/employment.html">Employment</a></li>
                <li><a href="https://order.online/store/109-burger-joint-corp-73844">Takeout</a></li>
                <li><a href="https://www.online.juvopos.com/olo/109-burger-joint">Delivery</a></li>
                <li><a href="https://www.ezcater.com/catering/pvt/109-burger-joint-3?fcv=1">Catering</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://twitter.com/109burgerjoint?lang=en" class="icon brands fa-twitter"><span
                            class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/109burgerjoint/" class="icon brands fa-facebook-f"><span
                            class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/109burgerjoint/?hl=en" class="icon brands fa-instagram"><span
                            class="label">Instagram</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="content">
                <h1 style="font-size: 2.5rem">109 Burger Joint Accessibility Statement</h1>


                <br /><br />

                Updated: December 2019.

                <br /><br />

                <h2>General</h2>
                109 Burger Joint strives to ensure that its services are accessible to people with disabilities. 109
                Burger Joint has invested a significant amount of resources to help ensure that its website is made
                easier to use and more accessible for people with disabilities, with the strong belief that every person
                has the right to live with dignity, equality, comfort and independence.

                <h2>Accessibility on 109 Burger Joint</h2>
                109 Burger Joint makes available the <a href="https://UserWay.org"
                    alt="Free Website Accessibility Widget" title="Free Website Accessibility Widget">UserWay Website
                    Accessibility Widget</a> that is powered by a dedicated accessibility server. The software allows
                109 Burger Joint to improve its compliance with the Web Content Accessibility Guidelines (WCAG 2.1).

                <h2>Enabling the Accessibility Menu</h2>
                The 109 Burger Joint accessibility menu can be enabled by clicking the accessibility menu icon that
                appears on the corner of the page. After triggering the accessibility menu, please wait a moment for the
                accessibility menu to load in its entirety.

                <h2>Disclaimer</h2>
                109 Burger Joint continues its efforts to constantly improve the accessibility of its site and services
                in the belief that it is our collective moral obligation to allow seamless, accessible and unhindered
                use also for those of us with disabilities.

                <br /><br />

                Despite our efforts to make all pages and content on 109 Burger Joint fully accessible, some content may
                not have yet been fully adapted to the strictest accessibility standards. This may be a result of not
                having found or identified the most appropriate technological solution.

                <h2>Here For You</h2>
                If you are experiencing difficulty with any content on 109 Burger Joint or require assistance with any
                part of our site, please contact us during normal business hours as detailed below and we will be happy
                to assist.

                <h2>Contact Us</h2>
                If you wish to report an accessibility issue, have any questions or need assistance, please contact 109
                Burger Joint Customer Support as follows:

                <br /><br />

                Email: <a href="mailto:109burgerjoint@gmail.com">109burgerjoint@gmail.com</a>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <section>
                    <h1>LOCATION</h1>
                    <p>109 Burger Joint <br>
                        646 SW 109 AVENUE <br>
                        Miami, FL 33174 <br>
                        305-228-0109
                    </p>
                </section>
                <section>

                    <h1>HOURS</h1>
                    <p><span>Mon-Thurs
                        </span>12pm - 10pm</p>
                    <p><span>Fri-Sat
                        </span>12pm - 12am</p>
                    <p><span>Sun
                        </span>12pm - 7pm</p>
                </section>
                <section>
                    <h1>Social</h1>
                    <ul class="icons">
                        <li><a href="https://twitter.com/109burgerjoint?lang=en" class="icon brands fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/109burgerjoint/" class="icon brands fa-facebook-f"><span
                                    class="label">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/109burgerjoint/?hl=en"
                                class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                </section>
                <section>
                    <h1>We Deliver</h1>
                    <ul class="delivery-cont">
                        <a href="https://www.doordash.com/store/109-burger-joint-corp-miami-73844/" target="_blank"
                            class="delivery-logo dl-1" style="padding-top: -.9rem;"><img src="./images/doordash.png"
                                alt="doordash-logo"></a>
                        <a href="https://www.grubhub.com/restaurant/109-burger-joint-646-sw-109th-ave-miami/1444042?utm_source=google&utm_medium=cpc&utm_campaign=Miami%2C%2BFL%2B%7C%2BMiami%2C%2BFL%2B%7C%2BRestaurants&utm_term=%2B109%20%2Bburger%20%2Bjoint&efkwid=343737150666&gclid=CjwKCAiA-P7xBRAvEiwAow-VadpDWu0dhYYEXt4wRso7R5QdYiuHsrBlLx8Za8nMmHPWJ6n5NrCTORoCtaIQAvD_BwE&gclsrc=aw.ds"
                            target="_blank" class="delivery-logo"><img src="./images/grub-hub-logo.png"
                                alt="grub-hub-logo"></a h>
                        <a href="https://www.ubereats.com/en-US/miami/food-delivery/109-burger-joint/B84zPZSsQ8W4am8Z5yxiwQ/"
                            target="_blank" class="delivery-logo"><img src="./images/uber-eat-logo.png"
                                alt="uber-eats-logo"></a>
                    </ul>
                </section>
            </footer>
            <div class="copyright" style="padding: 2rem">
                <ul style="display: flex; list-style: none; text-decoration: none; justify-content: center;">
                    <li style="margin-right: 5%">&copy;2020 109BurgerJoint All rights reserved.</li>
                    <li style="margin-right: 5%"><a href="/terms">Terms and Conditions</a></li>
                    <li><a href="/accessibility">Accessibility</a hr></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript">
        var _userway_config = {
            position: '3',
            size: 'large',
            type: '2',
            account: '1S1j5vEqBF'
        };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
</body>

</html>