<!DOCTYPE HTML>

<html>
	<head>
		<title>109 Burger Joint</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./assets/css/main.css" />
		<link rel="stylesheet" href="./assets/css/home.css" />
		<link rel='icon' href='./images/logo-01.png' type="image/png"  sizes="16x16" alt="logo-icon"/>
		<link href="https://fonts.googleapis.com/css?family=Teko|Girassol|BenchNine|Sancreek|Londrina+Sketch|Staatliches|Kaushan+Script|Tangerine|Barlow+Condensed|Oleo+Script|Smythe|Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script src="https://js.stripe.com/v3/"></script>
	</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <div class="big-logo-cont">
            <img src="images/109 Logo.png" alt="109 Logo">
        </div>

        <!-- Header -->
        <header id="header" style="margin-top: 5.2rem">
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="/menu.html">Menu</a></li>
                <li><a href="https://sheltered-ridge-76505.herokuapp.com/">On tap</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/employment.html">Employment</a></li>
                <li><a href=" https://www.ezcater.com/catering/pvt/109-burger-joint-3?fcv=1">Order Catering</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://twitter.com/109burgerjoint?lang=en" class="icon brands fa-twitter"><span
                            class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/109burgerjoint/" class="icon brands fa-facebook-f"><span
                            class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/109burgerjoint/?hl=en" class="icon brands fa-instagram"><span
                            class="label">Instagram</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <section>
                <h3 class="covid-alert"><span class="material-icons red">
                    info
                    </span> <span class="red">Covid-19 Update: </span> Due to the widespread of Covid-19 into our community, we are following guidelines by local officials to close our dining area. </h3>
            </section>
            <section style="padding: 2rem 0">
                <video preload="metadata" poster="/images/video-photo.jpg"  controls>
                    <source src="./images/video1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <video class="video2" preload="metadata" poster="/images/video-photo2.jpg"  controls >
                    <source src="./images/video2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </section>
            <section>
                <h5 style="margin-top: 1rem" style="margin-top: 1rem">The purchase of any of our products will go directly to helping 109 Burger Joint make it through these tough times. 100% of these funds will be used to support our employees and their families. We thank you very much for all of the support you are willing and able to provide. </h5>

                <h1 style="margin-top: 1rem;">Limited Time Offer</h1>
                <div class="img-container">
                    <img src="./images/shirt.JPG" alt="">
                    <img src="./images/shirt2.JPG" alt="">
                </div>
                    <h3>$18.99 ea</h3>
                <form action="/charge" method="POST" class="border">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <span>Shirt Size</span>
                            <select id="inputSize" class="field" name="size" required>
                              <!-- <option selected>Choose Size</option> -->
                              <option>Small</option>
                              <option>Medium</option>
                              <option>Large</option>
                              <option>X-Large</option>
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                        <span>Quantity</span>
                        <select id="quantity" class="field" name="amount" onchange="calculatePrice()" >
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                  </div>
                      <div class="form-group col-md-3">
                        <span>Delivery?</span>
                        <select class="field" id="delivery" name="delivery"  onchange="calculatePrice()">
                            <option selected value="5">Delivery</option>
                          <option value="0">Restaurant Pickup</option>
                        </select>
                  </div>
                  <div class=" form-group col-md-3">
                    <span>Phone Number</span>
                    <input name="number" type="text" class="field" placeholder="XXX-XXX-XXXX" required>
            </div>
                    </div>
                    <div class="row">
                       <div class=" form-group col-md-6">
                               <span>First Name</span>
                               <input name="name" type="text" class="field" placeholder="John" required>
                       </div> 
                       <div class="form-group col-md-6">
                               <span>Last Name</span>
                               <input name= "name" type="text" class="field" placeholder="Smith" required>
                       </div> 
                    </div>
                    <h3> Shipping Address</h3>
                    <div class="row">
                        <div class="form-group col-md-12">
                              <span>Address</span>
                              <input name="address" type="text" class="field" placeholder="185 Berry Street Suite 550">
                        </div>
                    </div>
                    <div class="row">
                                <div class="form-group col-md-6">
                                      <span>City</span>
                                      <input name="city" type="text" class="field" placeholder="San Francisco">
                                </div>
                        <div class="form-group col-md-4">
                              <span>State</span>
                              <select id="inputState" class="field" name="state">
                                <option selected>Choose State</option>
                                <option>AL</option>
                                <option>AK</option>
                                <option>AZ</option>
                                <option>AR</option>
                                <option>CA</option>
                                <option>CO</option>
                                <option>CT</option>
                                <option>DE</option>
                                <option>FL</option>
                                <option>GA</option>
                                <option>HI</option>
                                <option>ID</option>
                                <option>IL</option>
                                <option>IN</option>
                                <option>IA</option>
                                <option>KS</option>
                                <option>KY</option>
                                <option>LA</option>
                                <option>ME</option>
                                <option>MD</option>
                                <option>MA</option>
                                <option>MI</option>
                                <option>MN</option>
                                <option>MS</option>
                                <option>MO</option>
                                <option>MT</option>
                                <option>NE</option>
                                <option>NV</option>
                                <option>NH</option>
                                <option>NJ</option>
                                <option>NM</option>
                                <option>NY</option>
                                <option>NC</option>
                                <option>ND</option>
                                <option>OH</option>
                                <option>OK</option>
                                <option>OR</option>
                                <option>PA</option>
                                <option>RI</option>
                                <option>SC</option>
                                <option>SD</option>
                                <option>TN</option>
                                <option>TX</option>
                                <option>UT</option>
                                <option>VT</option>
                                <option>VA</option>
                                <option>WA</option>
                                <option>WV</option>
                                <option>WI</option>
                                <option>WY</option>
                              </select>
                        </div>
                        <div class="form-group col-md-2">
                              <span>ZIP</span>
                              <input name="postal_code" type="text" class="field" placeholder="94107">
                        </div>
                    </div>	
                    <div class="text-content" id="pricingContent">
                        <p class="total-price"><strong>Subtotal: $18.99</strong></p>
                    </div>
                    <div class="delivery-content" id="deliveryContent">
                        <p class="delivery-price"><strong>Delivery: $5</strong></p>
                    </div>
                    <div class="tax-content" id="taxContent">
                        <p class="tax-price"><strong>Tax (7%): $1.68</strong></p>
                    </div>
                    <div class="total-content" id="totalContent">
                        <p class="total-price"><strong>Total: $25.67</strong></p>
                    </div>

                    <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_tggdwXg5wfTX0ZkPpCkAQfQw"
                    data-name=" Checkout"
                    data-description=""
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-currency="usd"
                    >
                    </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                    </script>
                    <button id="buyNow" data-price="1899" type='submit' class='btn btn-outline-dark'
                    >Pre-Order Now</button>
                </form>

            </section>
            <section class="uber-alert">
                <h1 class="red">Delivery Special</h1>
                <h2><span class="green">$0</span> delivery fee when you order with uber <span class="green">eats</span></h2>
            </section>
            <!-- <div class="event-container">
                <img src="/Images/zoo-event.JPG" alt="1st-Event">
            </div> -->

            <!-- Footer -->
            <footer id="footer">
                <section>
                    <h1>LOCATION</h1>
                    <p>109 Burger Joint <br>
                        646 SW 109 AVENUE <br>
                        Miami, FL 33174 <br>
                        305-228-0109
                    </p>
                </section>
                <section>

                    <h1>HOURS</h1>
                    <p><span>Mon-Thurs
                        </span>12pm - 8pm</p>
                    <p><span>Fri-Sat
                        </span>12pm - 9pm</p>
                    <p><span>Sun
                        </span>Closed</p>
                </section>
                <section>
                    <h1>Social</h1>
                    <ul class="icons">
                        <li><a href="https://twitter.com/109burgerjoint?lang=en" class="icon brands fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/109burgerjoint/" class="icon brands fa-facebook-f"><span
                                    class="label">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/109burgerjoint/?hl=en"
                                class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                </section>
                <section>
                    <h1>We Deliver</h1>
                        <ul class="delivery-cont">
                                <a href="https://www.doordash.com/store/109-burger-joint-corp-miami-73844/" target="_blank" class="delivery-logo dl-1" style="text-decoration: none"><img src="./images/doordash.png" alt="doordash-logo"></a>
                                <a href="https://www.grubhub.com/restaurant/109-burger-joint-646-sw-109th-ave-miami/1444042?utm_source=google&utm_medium=cpc&utm_campaign=Miami%2C%2BFL%2B%7C%2BMiami%2C%2BFL%2B%7C%2BRestaurants&utm_term=%2B109%20%2Bburger%20%2Bjoint&efkwid=343737150666&gclid=CjwKCAiA-P7xBRAvEiwAow-VadpDWu0dhYYEXt4wRso7R5QdYiuHsrBlLx8Za8nMmHPWJ6n5NrCTORoCtaIQAvD_BwE&gclsrc=aw.ds" target="_blank"  class="delivery-logo"><img src="./images/grub-hub-logo.png" alt="grub-hub-logo"></a h>
                                <a href="https://postmates.com/merchant/109-burger-joint-646-sw-109th-ave" target="_blank" class="delivery-logo"><img src="./images/postmates-logo.png" alt="postmates-logo"></a>
                                <a href="https://www.ubereats.com/en-US/miami/food-delivery/109-burger-joint/B84zPZSsQ8W4am8Z5yxiwQ/" target="_blank" class="delivery-logo"><img src="./images/uber-eat-logo.png" alt="uber-eats-logo"></a>
                        </ul>
                </section>
            </footer>
            <div class="copyright" style="padding: 1rem">
                <ul style="display: flex; list-style: none; text-decoration: none; justify-content: center;">
                    <li style="margin-right: 5%">&copy;2020 109BurgerJoint All rights reserved.</li>
                    <li style="margin-right: 5%"><a href="/terms" style="color: black">Terms and Conditions</a></li>
                    <li><a href="/accessibility"  style="color: black">Accessibility</a hr></li>
                </ul>
               </div>
        </div>


    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript">
        var _userway_config = {
           position: '3', 
          size: 'large', 
              type: '2',
          account: '1S1j5vEqBF'
        };
      </script>
      <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
      <script>
          /**
 * Calculate price.
 */


const calculatePrice = () => {
    
    // Set defaults.
    const normalRetailPrice = 18.99;
    let quantity            = Number( document.querySelector('#quantity').value);
    let delivery = Number(document.querySelector('#delivery').value);
    console.log(delivery);

// Next, calculate the different prices.
let price                = +(quantity * normalRetailPrice).toFixed(2);
let subtotal             = price + delivery;
let tax                = Number(subtotal * .07);
let total              = (subtotal + tax).toFixed(2);

// Then, throw pricing into an object.
let pricingData = {
    quantity: quantity,
    price: price,
    total: total,
    delivery: delivery
    }

// Finally, update the markup!
buyNowHandler(pricingData);
pricingContentHandler(pricingData);
}

/**
* Buy now button.
*/
function buyNowHandler(pricingData) {

// Grab the buy now button.
button = document.querySelector('#buyNow');

// No button? Bail.
if ('undefined' === button) {
    console.error('The buy now button is missing!');
}

// Update button content.
button.setAttribute('data-price', pricingData.price * 100);
button.innerText = `Pre-Order $${pricingData.total}`;
}

/**
* Pricing content.
*/
function pricingContentHandler(pricingData) {

// Grab the pricing content.
let pricingContent = document.querySelector('#pricingContent');
let taxContent =  document.querySelector('#taxContent');
let deliveryContent = document.querySelector('#deliveryContent')
let totalContent = document.querySelector('#totalContent')

// Update the markup.
pricingContent.innerHTML = `
                    <div class="text-content" id="pricingContent">
                        <p class="total-price"><strong>Subtotal: $${pricingData.price}</strong></p>
                    </div>
`;
deliveryContent.innerHTML = `
                    <div class="delivery-content" id="deliveryContent">
                        <p class="delivery-price"><strong>Delivery: $${pricingData.delivery}</strong></p>
                    </div>
`
taxContent.innerHTML = `
                    <div class="tax-content" id="taxContent">
                        <p class="tax-price"><strong>Tax (7%): $${((pricingData.price + pricingData.delivery) * .07).toFixed(2)}</strong></p>
                    </div>
`;
totalContent.innerHTML = `
                    <div class="total-content" id="totalContent">
                        <p class="total-price"><strong>Total: $${pricingData.total}</strong></p>
                    </div>
`
                }

// // Grab the button.
// let button = document.querySelector('#buyNow');

// // No button? Bail.
// if ('undefined' === button) {
//     console.error('The buy now button is missing!');
// }
// calculatePrice()
      </script>
      <script src="server.js"></script>
</body>

</html>