<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .payment-box {
            background-color: rgb(245, 79, 79);
            padding: 1rem
        }
    </style>
    <div class="payment-box col-md-8">
        <section class="py-5">
            <h1 class="display-3">
                Payment Failed
            </h1>
        </section>
            <h5>Any further questions please send us a message at 109burgerjoint@gmail.com</h5>
            <a href="/" class="btn btn-dark btn-lg" style="text-decoration: none;">Go Back Home</a>
    </div>
</body>
</html>