<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

        }
        .payment-box {
            background: linear-gradient(0deg, rgba(91,177,91,1) 0%, rgba(180,220,180,1) 50%, rgba(255,255,255,1) 100%);            border: rgba(91,177,91,1);
            padding: 1rem
        }
        
    </style>

    <div class="payment-box col-md-8">
        <section class="py-5">
            <h1 class="display-3">
                Thank You for Pre-Ordering. 
            </h1>
        </section>

            <p class="lead">
            * Please allow 18 to 24 hours for a receipt to be sent to your email. You will also receive a tracking number at the time of shipment. 
            </p>
            <h5>Any further questions please send us a message at 109burgerjoint@gmail.com</h5>
            <a href="/" class="btn btn-dark btn-lg" style="text-decoration: none;">Go Back Home</a>
    
    </div>

</body>
</html>