#wrapper>.bg {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/background-header2.jpg");
    background-position: 0% 0%;
    background-size: cover
}

#header {
    margin-top: 11rem
}

#owners {
    width: 250px
}

.about-cont {
    padding: 5rem
}

.about-cont img {
    float: left;
    margin-right: 3rem
}

.about-cont>p {
    font-size: 1.4rem;
    font-family: 'Oranienbaum', serif;
    line-height: 160%;
}

#about-title {
    padding: 0;
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 4px solid black;
    text-align: center;
}

.about-cont p span {
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;

}

@media (max-width: 1440px) {
    #wrapper>.bg {
        background-position: 0 50%
    }
}

@media (max-width: 768px) {

    .about-cont>p {
        word-spacing: 1px;
        padding:2%;
    }

    #owners {
        width: 200px;
        margin-bottom: .55rem
    }

    
}

@media (max-width: 425px) {
    #main {
        padding-top: 1rem;
        margin-top: -5%
    }

    #owners {
        width: 150px;
        margin: .6rem 1rem
    }

    .about-cont>p {
        margin-left: 1%;
    }

    #header {
        margin-top: 2rem
    }


    #wrapper>.bg {
        background-size: contain;
        background-position: 0% 0%;
    }

}

@media (max-width: 375px) {
    #main {
        margin-top: -2rem
    }

    .about-cont img {
        margin-left: 15%;
    }
}

@media (max-width:320px) {
    #main {
        margin-top: -2.5rem
    }

    #owners {
        margin-left: 25%;
        margin-right: 25%
    }
}