
#wrapper>.bg {
    background-color: black;
    background-image: url("../../images/outside.jpg");
    background-size: contain;
    background-position: 50% -28rem;
}

#header {
    margin-top: 5rem
}

#owners {
    width: 250px
}

.about-cont {
    padding: 5rem
}

.about-cont img {
    float: left;
    margin-right: 3rem
}

.about-title {
    font-size: 2.5rem;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2rem !important;
}

.about-cont>p {
    font-size: 1.4rem;
    font-family: 'Oranienbaum', serif;
    line-height: 160%;
}

.about-cont p span {
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;

}

.press-release-cont {
    margin-bottom: 3rem
}

.press-release-title {
    font-size: 3rem;
    font-family: 'Teko', Arial, Helvetica, sans-serif
}
.press-release-item {
    background-color: lightgray !important;
    padding: 1%;
    margin-top: 1rem

}
.press-release-item a {
    font-size: 2rem;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    font-style: normal;
    cursor: pointer
}

.stars {
    margin-top: 15px
}
.author {
    font-size: 1.1rem;
    margin-top: -10px
}

#footer section h1 {
    font-size: 2rem !important
}
#footer section p {
    font-size: 1rem !important;
    margin-bottom: .5rem !important;
    text-align: center
}
#footer section p span {
    font-weight: bold !important;
}
@media (min-width: 2500px) {
    #wrapper>.bg {
        background-size: cover;
        background-position: 50% -25rem
    }
}

@media (min-width: 1024px) {
    .about-cont img {
        margin-bottom: 1rem
    }
}

@media (max-width: 1440px) {
    #wrapper>.bg {
        background-size: cover;
        background-position: 50% -13rem
    }
}
@media (max-width: 1024px) {
    #wrapper>.bg {
        background-position: 50% -15rem
    }
}

@media (max-width: 768px) {

    #header {
        margin-top: 2rem
    }

#wrapper>.bg {
    background-size: contain
}

    .about-cont>p {
        word-spacing: 1px;
        padding:2%;
    }

    #owners {
        width: 200px;
        margin-bottom: .55rem
    }

    
}

@media (max-width: 425px) {
    #main {
        margin-top: -5%;
        padding-top: 6%
    }
    #wrapper>.bg {
        background-position: 50% -5rem !important
    }

    #owners {
        width: 150px;
        margin: .6rem 1rem
    }

    .about-cont>p {
        margin-left: 1%;
    }

    #header {
        margin-top: 0;
        margin-bottom: 1rem
    }


    #wrapper>.bg {
        background-size: contain;
        background-position: 0% 0%;
    }

}

@media (max-width: 375px) {
    #main {
        margin-top: -2rem;
        margin-bottom: 1.5rem;
        padding-top: 2rem !important
    }

    .about-cont img {
        margin-left: 15%;
    }
}

@media (max-width:320px) {
    #main {
        margin-top: -2.5rem
    }

    #owners {
        margin-left: 25%;
        margin-right: 25%
    }
}