* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.border {
    border: 2px solid black
}

body, #wrapper {
    background-color: rgb(243, 239, 239);
}

#nav {
    background-color: black;
    margin: 0 !important;
    width: 100vw !important;
    max-width: 150rem;
    padding-left: 5rem;
    border-bottom: 4px solid red;
}

.logo-cont {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 5rem;
    right: 5rem;
}

.logo-cont img {
    width: 100%;
    height: 100%
}

#main2 {
    height: 100vh !important;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url('/images/new-nica.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -50% 75%;
    padding-top: 1rem;
}

#nav ul.links li:hover {
    background-color: white;
    color: black;
    
}

.display-title {
    font-family: 'Oleo Script Swash Caps';
    color: white;
    font-size: 10rem;
    text-transform: capitalize !important;
    text-shadow: 4px 5px 5px black;
    text-align: center;
    margin-top: 15rem !important
}

.slash {
    margin-bottom: 0;
    background-color: rgb(243, 239, 239) ;
    height: 70px; 
    transform: skewY(-3deg);
    margin-top: -6.5%;
    z-index: 4
  }
  
  .slash-black {
    background-color:  black;
    margin-bottom: 0;
    height: 100px; 
    transform: skewY(-3deg);
    margin-top: -3%;
    z-index: 1;
    /* box-shadow: 0px -5px 20px black */
  }

.slash2 {
    background-color: rgb(243, 239, 239);
    margin-bottom: 0;
    margin-top: 2%;
    height: 65px; 
    transform: skewY(3deg);
  }


  .slash3 {
    background-color: black;
    margin-bottom: 0;
    height: 12px; 
    transform: skewY(3deg);
    margin-bottom: -3%;
    box-shadow: 0px 5px 20px black

  }

  .slash-black-last {
      margin-top: -6.5% !important
  }

#main3 {
    background-color: rgb(243, 239, 239);
    margin-top: -1%;
    margin-bottom: 3rem;
}

/* Slideshow container */
.slideshow-container {
    max-width: 900px;
    height: 60vh;
    position: relative;
    margin: auto;
    border: 2px solid black
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
    height: 100%;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .new-title {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto -4rem !important;
    font-family: 'Girassol';
    margin: 0;
    line-height: 90%;
    z-index: 5;
    text-transform: uppercase;
}

.new-title-span {
    color: red;
    font-size: 2rem !important
}
.craft-container {
    display: flex !important;
    height: 90vh;
    padding: 0 10% !important;
    margin-top: 0;
    z-index: 9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url('/images/background-header.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.carousel {
    width: 60%;
    margin: 4% 20% 1%
}

.craft-container-item {
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
        box-shadow: 3px 3px 10px black;
        width: 250px;
        height: 40%;
        margin-left: 1rem
    }

.icon-container {
    display: flex;
    margin-bottom: 1rem;
}

 i {
    font-size: 2.9rem !important ;
    margin: 0rem auto;
    
}

.craft-container-item .fa-beer {
     color: rgb(190, 165, 51)
}
.craft-container-item .fa-wine-glass-alt {
     color: rgb(122, 28, 122)
}
.craft-container-item .fa-graduation-cap {
     color: black
}

.craft-container-item h6 {
    font-size: 2.5rem !important;
    margin-top: .5rem;
    color: black
}

.craft-container-item .hh {
    font-family: 'Sancreek', cursive
}

.craft-container-item .ww {
    font-family: 'Tangerine';
    text-transform: capitalize;
    font-size: 2.7rem
}
.craft-container-item .cn {
    font-family: 'Londrina Sketch'
}
.event-content {
    margin-top: -.7rem !important

}
.event-content p {
    text-align: center;
    font-family:'Barlow Condensed';
    font-size: 1.3rem !important;
}

span {
    font-weight: bold;
}
.days {
    margin-top: .8rem !important 
}

.red {
    color: red;
    font-weight: bolder;
}

#footer {
    background-color: rgb(243, 239, 239);
    margin-top: -3%
}

#footer section h1 {
    font-size: 2rem;
    text-align: center;
}

#footer section p {
    font-size: 1rem;
    margin-bottom: .5rem;
    text-align: center
}

#footer section p span {
    font-weight: bold
}
.icons {
    text-align: center
}

.copyright {
    margin-top: .5rem;
    text-align: center
}
.delivery-cont {
    display: flex;
    justify-content: center;
}
.delivery-logo {
    width: 60px;
    padding-top: 2%;
}
.delivery-logo img {
    width: 100%
}
.dl-1 img {
     margin-top: -.8rem
}

@media (max-width: 2560px) {
    .logo-cont {
        width: 14rem;
        height: 14rem;
        top: 6rem;
        right: 6rem;
    }
    .slash {
        height: 130px;
        margin: -2.5%;
    }
    .slash-black {
        margin: -3%
    }
    .slash2 {
        height: 170px;
    }
    .slash3 {
        margin-bottom: -3%;
    }
    .slash4 {
        margin-bottom: -3% !important
    }
    .slash-black-last {
        margin-top: -10% !important
    }
    .new-title {
        margin: 2rem auto -1rem;
    }
    .links li a {
        font-size: 1rem !important
    }
    .display-title {
        font-size: 13rem;
        margin-top: 20% !important
    }
    .craft-container {
        display: flex;
    }
    .craft-container-item {
        width: 500px
    }
    .icon-container {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    i {
        font-size: 4rem;
    }
    .craft-container-item h6 {
        font-size: 3.5rem;
    }
    .craft-container-item .ww {
        font-size: 4rem
    }
    .event-content p {
        font-family:'Barlow Condensed';
        font-size: 1.8rem
    }
    #main3 {
        margin-bottom: 8rem !important;
    }
    #footer {
        margin-top: 3%;
    }
}

@media (max-width: 2260px) {
    .slash2 { 
        margin-bottom: -10px
    }
    .slash-black-last {
        margin-top: -11rem !important
    }
}

@media (max-width: 2130px) {
    .display-title {
        margin-top: 30rem !important
        }
        #main2 {
            background-size: cover;
            background-position: 0 0
        }
        .slash {
            margin-top: -3.5rem !important;
          }
    }

@media (max-width: 1665px) {
    .display-title {
        margin-top: 40rem !important
    }
    .slash {
        margin-top: -5rem !important
    }
}
@media (max-width: 1440px) {
    #main2 {
        
        background-position: -25% 75%
    }
    .logo-cont {
        width: 10rem;
        height: 10rem
    }
    .links li a {
        font-size: 1rem !important
    }
    .craft-container {
        padding: 0 2%
    }
    .craft-container-item {
        width: 25% !important
    }
    .display-title {
        font-size: 12rem;
        margin-top: 18rem !important
    }
    .slash-black {
        height: 100px
    }
}

@media (max-width: 1024px) {
    .links li a {
        font-size: .8rem !important
    }
    #main2 {
        height: 95vh !important
    }
    .logo-cont {
        width: 8rem;
        height: 8rem
    }
    .craft-container {
        height: 75vh
    }
    .craft-container-item {
        height: 42% !important
    }
    .icon-container i {
        font-size: 1.8rem !important
    }
    .craft-container h6 {
        font-size: 2rem !important
    }
    .craft-container p {
        font-size: 1rem !important
    }

    .display-title {
        margin-top: 9rem;
        line-height: 99%;
        font-size: 9rem
}
    .slash{
        height: 125px;
        margin-top: -9% !important;
}
    #footer {
        padding: 0 2%
    }
}

@media (max-width: 1000px) {
    .logo-cont {
        left: 2rem;
        top: 2rem
    }
    #footer {
        margin-top: -8%
    }
    .slash{
        margin-top: -9% !important;
}
}

@media (max-width: 838px) {
    #main2 {
        height: 80vh !important
    }
    .display-title {
        font-size: 7rem;
        margin-top: 26% !important
    }
    .slash{
        margin-top: -10% !important;
}
 */
}

@media (max-width: 800px) {
    .logo-cont {
        width: 8rem;
        height: 8rem;
    }
    .craft-container {
        height: 95vh;
        padding: 0 !important;
    }
    .craft-container-item {
        height: 30% !important;
        align-self: center !important;
    }
    .slash {
        margin-top: -11.5% !important;
    }
    .slash2 {
        margin-top: -15%
    }
    .new-title {
        margin-top: -3rem;
        margin-bottom:-3rem
    }
    .craft-container-item h6 {
        font-size: 1.7rem !important;
    }
    .event-content p {
        font-size: 1rem !important
    }
}

@media (max-width: 620px) {
    .slash {
        margin-top: -14% !important
    }
    #footer {
        margin-top: -15% !important
    }
    .new-title {
        line-height: 125%
    }
    .copyright {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 425px) {
    #main2 {
        height: 50vh !important;
        padding-left: 1%;
        padding-right: 1%;
        background-position: 0 0
    }
    .new-title {
        border: 2px solid black;
        margin-top: -6rem !important;
        margin-bottom: -8rem !important
    }
    .new-title-span {
        font-size: 1.4rem !important
    }
    .logo-cont {
        height: 5rem;
        width: 5rem
    }
    .slash {
        margin-top: -21% !important
    }
    .display-title {
        font-size: 3.5rem;
        margin-top: 35% !important
    }
    .new-title {
        margin: -10% 0;
        font-size: 2rem !important;
        line-height: 150%;
        margin-top: -4.2rem;
        margin-bottom: -8rem
    }
    .new-title-span {
        font-size: 1.5rem;

    }
    .craft-container {
        display: block !important
    }
    .craft-container-item {
        width: 60% !important;
        margin: 0 auto
    }
   
     #footer {
        margin-top: -25% !important
    }
    
    #footer section h1 {
        font-size: 1.6rem;
    }
    
    #footer section p, .icons li a, .copyright ul li a {
        font-size: .9rem;
        margin-bottom: .5rem;
    
    }
    
    .copyright {
        margin-top: .5rem;
    
    }
}

@media (max-width: 375px){
    .slash {
        margin-top: -24% !important
    }
    #footer {
        margin-top: -25% !important
    }
}

@media (max-width: 320px){
    .display-title {
        font-size: 3.5rem;
        margin-top: 45% !important
    }
    .slash {
        margin-top: -28% !important
    }
    .new-title-span {
        font-size: 1.3rem
    }
}
