* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: rgb(243, 239, 239);
}

#nav {
    background-color: black;
    margin: 0 !important;
    width: 100vw !important;
    max-width: 150rem;
    padding-left: 5rem;
    border-bottom: 4px solid red
}


.logo-cont {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 5rem;
    right: 2rem;
}

.logo-cont img {
    width: 100%;
    height: 100%
}

#main2 {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url('/images/new-nica.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -50% 75%;
    padding-top: 1rem;
}

#nav ul.links li:hover {
    background-color: white;
    color: black;
    
}

.display-title {
    font-family: 'Oleo Script Swash Caps';
    color: white;
    font-size: 10rem;
    text-transform: capitalize !important;
    text-shadow: 4px 5px 5px black;
    text-align: center;
    margin-top: 15rem
}

.slash {
    margin-bottom: 0;
    background-color: rgb(243, 239, 239) ;
    height: 100px; 
    transform: skewY(-3deg);
    margin-top: -6.5%;
    z-index: 4
  }
  
  .slash-black {
    background-color:  black;
    margin-bottom: 0;
    height: 100px; 
    transform: skewY(-3deg);
    margin-top: -3%;
    z-index: 1;
    box-shadow: 0px -5px 20px black
  }

.slash2 {
    background-color: rgb(243, 239, 239);
    margin-bottom: 0;
    height: 80px; 
    transform: skewY(3deg);
  }


  .slash3 {
    background-color: black;
    margin-bottom: 0;
    height: 12px; 
    transform: skewY(3deg);
    margin-bottom: -3%;
    box-shadow: 0px 5px 20px black

  }

#main3 {
    background-color: rgb(243, 239, 239);
    margin-top: -1%;
    margin-bottom: 3rem;
}

.new-title {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin: 2rem auto;
    font-family: 'Girassol';
    margin: 0;
    line-height: 90%;
    z-index: 5;
}

.new-title-span {
    color: red;
    font-size: 2rem
}

.craft-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    height: 90vh;
    margin-top: 0;
    z-index: 9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url('/images/background-header.jpg');
    background-size: cover;
}

.craft-container-item {
        background-color: white;
        padding: 15px;
        margin: auto;
        border: 3px solid lightgray;
        border-radius: 2px;
        box-shadow: 3px 3px 10px black;
}

.icon-container {
    display: flex;
    margin-bottom: 1rem
}

 i {
    font-size: 3rem;
    margin: 0rem auto;
    
}

.craft-container-item .fa-beer {
     color: rgb(190, 165, 51)
}
.craft-container-item .fa-wine-glass-alt {
     color: rgb(122, 28, 122)
}
.craft-container-item .fa-graduation-cap {
     color: black
}

.craft-container-item h6 {
    font-size: 2.5rem;
    margin-top: .5rem;
    color: black
}

.craft-container-item .hh {
    font-family: 'Sancreek', cursive
}

.craft-container-item .ww {
    font-family: 'Tangerine';
    text-transform: capitalize;
    font-size: 3rem
}
.craft-container-item .cn {
    font-family: 'Londrina Sketch'
}

.event-content p {
    font-family:'Barlow Condensed';
    font-size: 1.3rem
}

span {
    font-weight: bold
}

.red {
    color: red;
    font-weight: bolder;
}

#footer {
    margin-top: -3%
}

#footer section h1 {
    font-size: 2rem;
    text-align: center;
}

#footer section p {
    font-size: 1rem;
    margin-bottom: .5rem;
    text-align: center
}

#footer section p span {
    font-weight: bold
}
.icons {
    text-align: center
}

.copyright {
    margin-top: .5rem;
    text-align: center
}

@media (min-width: 2500px) {
    .logo-cont {
        width: 14rem;
        height: 14rem;
        top: 6rem;
        right: 6rem;
    }
    .slash {
        height: 130px;
        margin: -2.5%;
    }
    .slash-black {
        margin: -3%
    }
    .slash2 {
        height: 130px;
    }
    .slash3 {
        margin-bottom: -3%;
    }
    .slash4 {
        margin-bottom: -3% !important
    }
    .new-title {
        margin: 2rem auto -1rem;
    }
    .links li a {
        font-size: 1.2rem !important
    }
    .display-title {
        font-size: 15rem;
    }
    .craft-container {
        display: flex;
    }
    .craft-container-item {
        height: 500px;
        width: 500px
    }
    .icon-container {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    i {
        font-size: 4rem;
    }
    .craft-container-item h6 {
        font-size: 3.5rem;
    }
    .craft-container-item .ww {
        font-size: 4rem
    }
    .event-content p {
        font-family:'Barlow Condensed';
        font-size: 1.8rem
    }
}

@media (min-width: 1440px) {
    .craft-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .display-title {
        margin-top: 26rem
    }
    .slash-black {
        height: 100px
    }
   
}

@media (max-width: 1024px) {
    .craft-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .slash {
        margin-top: -8.5%;
      }
    .display-title {
        margin-top: 22rem
    }
}

 @media (max-width: 768px) {
    .logo-cont {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: 2rem;
        left: 2rem;
    }
    #main2 {
    background-position: 0 0;
}
    .display-title {
    font-size: 7rem;
    margin-top: 15rem    

}
    .slash {
    margin-top: -11.5%;
  }
  .new-title {
    font-size: 3rem;
    line-height: 90%;
}
    .new-title-span {
    font-size: 1.5rem
}
    .craft-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-size: cover;
    background-repeat: no-repeat;
    grid-gap: 5px;
    margin-bottom: -6rem
}
     i {
    font-size: 2.5rem;
}
    .craft-container-item h6 {
    font-size: 2rem;
    margin-top: .5rem;
}
    .craft-container-item .ww {
    font-size: 2.5rem
}
    .event-content p {
    font-size: 1rem
}
    }


@media (max-width: 435px) {
    .logo-cont {
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 2rem;
        left: 1rem;
    }
    #main2 {
    background-position: 40% 25%;
    height: 70vh;
}
    .display-title {
    font-size: 4.2rem;
    line-height: 99%;
    margin-top: 14rem
    }
    .slash {
    height: 100px; 
    margin-top: -21%;
      }
    .slash-black {
    margin-top: -8%;
      }
      .craft-container{
        height: 135vh;
      }
    .new-title {
        font-size: 2.5rem;
        margin-top: -6%;
        margin-bottom: -6%;
        line-height: 110%;
    }
    .new-title-span {
        font-size: 1.3rem
    }
    #footer {
        margin-top: -12%
    }
    }

    @media (max-width: 375px) {
        .craft-container {
        height: 135vh;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url('/images/background-header.jpg');
        background-size: cover;
        background-position: 75% 0%;

    }
        .slash {
        margin-top: -24%;
      }
      .new-title {
        line-height: 125%;
    }
    }

@media (max-width: 320px) {
    #footer {
        margin-top: -25%
    }
    .slash {
        margin-top: -28%;
      }
      .new-title {
        line-height: 130%;
        margin-top: -12%;
        margin-bottom: -12%
    }
} 