#wrapper>.bg {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/burger-cooking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black
}
#header {
    margin-top: 5.2rem
}
.description-title {
    font-family: 'Jacques Francois Shadow', cursive;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    margin-top: 0;
    padding: 3.5%;
}

.section1 {
    margin-top: 2%;
}

.section h1,
.food-item h3 {
    font-family: Teko, sans-serif;
}

.section>div span {
    font-weight: bold;
}

.food-item {
    margin-top: 5%;
    margin-bottom: 5%;

}

.food-item p {
    font-size: 1.2em;
    font-family: Barlow
}

.section h1 {
    font-size: 4.4em;
    margin-bottom: -20px;
    line-height: 150%;
    font-weight: bold
}

.food-item h3 {
    font-size: 2.5em;
    margin-bottom: -.25rem
}

.section h6 {
    font-size: 1.7rem;
    color: red;
}

#about-title {
    padding: 0;
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 4px solid black;
    text-align: center;
    padding-top: 2rem;
}

    #footer section h1 {
        font-size: 2rem !important
    }
    #footer section p {
        font-size: 1rem !important;
        margin-bottom: .5rem !important;
        text-align: center
    }
    #footer section p span {
        font-weight: bold !important;
    }

    @media (min-width: 1440px) {
        #wrapper>.bg {
            background-position: 50% -8rem
        }
    }

    @media (max-width: 955px) {
        .section {
            padding: 2%;
            margin-top: 2%;
        }

        .section>div {
            margin-bottom: -8%;
        }
        #wrapper>.bg {
            background-size: contain;
            /* background-position: 0 0 */
        }
    }

    @media (max-width: 425px) {
        #main {
            margin-top: -5%
        }

        .section {
            grid-template-columns: 1fr
        }

        .section>div {
            margin-bottom: -8%;
        }
}

    @media(max-width: 400px) {
        #wrapper>.bg {
            padding-bottom: 5% !important
        }
        #main {
            margin-top: -10%
        }
        #header {
            margin-top: 3rem !important
        }
    }

